# OpenAI
OPENAI_API_KEY = "sk-..."

# NEO4J
NORTHWIND_NEO4J_URI = "neo4j+s://<xxxxx>.databases.neo4j.io"
NORTHWIND_NEO4J_USERNAME = "neo4j"
NORTHWIND_NEO4J_PASSWORD = "<password>"

HM_NEO4J_URI = "neo4j+s://<xxxxx>.databases.neo4j.io"
HM_NEO4J_USERNAME = "neo4j"
HM_NEO4J_PASSWORD = "<password>"
HM_AURA_DS= false